<ion-header>

    <ion-navbar>
        <!-- <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button> -->
        <ion-title>CRYPTOWIZ</ion-title>
      </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
    <ion-grid>
      <ion-row>
            <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

                </ion-col>
                <ion-col ion-col text-center no-padding col-8 col-sm-8 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <button class="btn1-size" ion-button block default-button text-capitalize style="background:#034EB6" ><b>SIMULATOR</b></button><br>
          
                </ion-col>
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          
                  </ion-col>
    <ion-col ion-col text-center no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <!-- <ion-item class="abc" text-center> -->
            <ion-searchbar [(ngModel)]="name" (ngModelChange)="onSearch($event)" name="name"></ion-searchbar>
            <ion-list *ngIf="simulator" >
              <ion-item (click)="getSimulator(GC.symbol)" class="label"  *ngFor="let GC of simulator">
                {{GC.name}}    
              </ion-item>
            </ion-list>
        <!-- </ion-item> -->
    </ion-col>
    </ion-row><br>
     
    
    <ion-slides class="slide" pager="true" *ngIf="showSlider" #slides>
        <ion-slide text-center style="Background-color:white">
    
            <ion-row class="abc" *ngIf="simulator1"> 
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator1.rank}}</b></ion-card-title>
                  <span class="oo" span-medium style="color:#5BABFB">Rank</span>
                </ion-col>
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator1.priceInUSD}}</b></ion-card-title>
                    <span class="oo" span-medium style="color:#5BABFB">Price in USD</span>
                </ion-col>
                <ion-col ion-col text-center no-padding col-6 col-sm-6 col-md-6 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator1.marketCap}}</b></ion-card-title>
                    <span class="oo" span-medium style="color:#5BABFB">Market Cap</span>
                </ion-col>
              </ion-row>
              
              
              
              
          <p wizard-description padding style="color:#5BABFB; font-size: 18px !important">Enter your growth expectation for this coin. If you think the <b>price</b> will double enter 2 below.</p>
        </ion-slide>
        <ion-slide text-center style="Background-color:white">
    
            <ion-row class="abc" *ngIf="simulator2">
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator2.rankNew}}</b></ion-card-title>
                  <span class="oo" span-medium style="color:#5BABFB">New rank</span>
                </ion-col>
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator2.priceInUSDNew}}</b></ion-card-title>
                    <span class="oo" span-medium style="color:#5BABFB">New price</span>
                </ion-col>
                <ion-col ion-col text-center no-padding col-6 col-sm-6 col-md-6 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator2.marketCapNew}}</b></ion-card-title>
                    <span class="oo" span-medium style="color:#5BABFB">New market cap</span>
                </ion-col>
              </ion-row>
              
              
              
              
          <p wizard-description padding style="color:#5BABFB; font-size: 18px !important">Enter your growth expectation for this coin. If you think the <b>price</b> will double enter 2 below.</p>
        </ion-slide>
        <ion-slide text-center style="Background-color:white">
    
            <ion-row class="abc" *ngIf="simulator3">
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator3.totalMarketCap}}</b></ion-card-title>
                  <span class="oo" span-medium style="color:#5BABFB">Global market cap</span>
                </ion-col>
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator3.BTCMarketCap}}</b></ion-card-title>
                    <span class="oo" span-medium style="color:#5BABFB">BTC market cap</span>
                </ion-col>
                <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator3.ALTMarketCap}}</b></ion-card-title>
                    <span class="oo" span-medium style="color:#5BABFB">ALT market cap</span>
                </ion-col>
              </ion-row>
              
              
              
              
          <p wizard-description padding style="color:#5BABFB; font-size: 18px !important">Enter your growth expectation for this coin. If you think the <b>price</b> will double enter 2 below.</p>
        </ion-slide>
        <ion-slide text-center style="Background-color:white">
    
            <ion-row class="abc" *ngIf="simulator4">
                <ion-col ion-col text-center no-padding col-6 col-sm-6 col-md-6 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator4.BTCMarketShare}}</b></ion-card-title>
                  <span class="oo" span-medium style="color:#5BABFB">BTC's current market share</span>
                </ion-col>
                <ion-col ion-col text-center no-padding col-6 col-sm-6 col-md-6 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                    <ion-card-title text-center style="color:#0059B3"><b>{{simulator4.totalMarketCapNew}}</b></ion-card-title>
                    <span class="oo" span-medium style="color:#5BABFB">New Global market cap (4x)</span>
                </ion-col>
                
              </ion-row>
              
              
              
              
          <p wizard-description padding style="color:#5BABFB; font-size: 18px !important">Enter your growth expectation for this coin. If you think the <b>price</b> will double enter 2 below.</p>
        </ion-slide>
      </ion-slides>

  </ion-grid>
  
  
  
  
  <ion-grid *ngIf="showbutton">
    <ion-row>
        <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            <button (click)="backButton()" *ngIf="showButton" >
            <ion-icon name="arrow-dropleft-circle" style=" font-size:50px"></ion-icon>
            </button>
        </ion-col>
      <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <ion-input class="input" text-center required type="number" (ionFocus)="inputFocus()" (ionBlur)="inputBlur()" style="margin-top:10px" [(ngModel)]="factor"></ion-input>
      </ion-col>
      <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <button (click)="ClcikToSimulatorResult()" *ngIf="showButton">
          <ion-icon name="arrow-dropright-circle" style="font-size:50px"></ion-icon>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-fab right bottom>
    <button ion-fab color="light" style="background-color:#C0C0C0"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="ClickToHomePage()" style="background-color:#A9A9A9"><ion-icon name="keypad-outline"></ion-icon></button>
      <button ion-fab (click)="clickToAccountPage()" style="background-color:#A9A9A9"><ion-icon name="bulb-outline"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>
  
  </ion-content>
  