page-simulator {
    ion-content{
        background:#DDDDDD !important;
    }
    
    .abc{
       border-bottom:  1px dashed #405bb6 !important;
        
    }
    .input{
        background-color: white;
        border-radius: 20px;
        
    
    }
    
    ion-card-title{
        font-size: 15px !important;
    }
    .oo{
        font-size: 10px !important;
    }
    .btn1-size{
        background-image: linear-gradient(to right, #0463CF 0%, #032786 71% 100%);
    }

}
