page-simulator {
    ion-content{
        background:#DDDDDD !important;
    }
    
    .abc{
       border-bottom:  1px dashed #405bb6 !important;
        
    }
    .input{
        background-color: white;
        border-radius: 20px;
        
    
    }
    
    ion-card-title{
        font-size: 15px !important;
        letter-spacing: -1px;
    }
    .oo{
        font-size: 10px !important;
    }
    .btn1-size{
        background-image: linear-gradient(to right, #0463CF 0%, #032786 71% 100%);
        height: 40px;
        border-radius: 20px;
        color: white;
        padding-top: 12px;
    }
    ion-searchbar{
        ::placeholder{
            font-size: 14px;
            letter-spacing: -0.7px;
            font-weight: bold;
        }
    }
    .alert-md .alert-head{
        padding: 0px !important;
    }

}
