page-simulator {
    ion-content{
        background:#DDDDDD !important;
    }
    
    
    .searchbar-ios{
        border:0px solid grey;
        border-radius: 20px;
        
    }
    .abc{
       border-bottom:  1px dashed #405bb6 !important;
        
    }
    .input{
        background-color: white;
        border-radius: 20px;
        
    
    }
    .btn1-size{
        font-size: 13px !important;
    }
    ion-card-title{
        font-size: 15px !important;
    }
    .oo{
        font-size: 10px !important;
    }
    .slide{
        height: 200px !important;
    }

}
