page-growth-calculator {

// .btn1-size{
//     width:250px;
//     text-align: center;
//     margin-left: 35px;
    
// }

ion-content{
    background:#DDDDDD !important;
}



.abc{
   border-bottom:  1px dashed #5daf33 !important;
    
}
.card-title{
    font-size: 15px;
}
.input{
    background-color: white;
    border-radius: 20px;
    border: 2px grey solid;
    
}
.btn1-size{
    background-image: linear-gradient(to right, #5FB236 0%, #8ACD50 61% 100%);
    height: 40px;
    border-radius: 20px;
    color: white;
    padding-top: 12px;
}

.span{
    font-size: 10px;
}
// .coins{
//     font-size: 10px;
// }
ion-searchbar{
    ::placeholder{
        font-size: 14px;
        letter-spacing: -0.7px;
        font-weight: bold;
    }
}

  .slide{
      box-shadow: none !important;
  }

}
