<ion-header>

  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <!-- <ion-row>
        <ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            
          </ion-col>
       <ion-col text-center no-padding col-6 col-sm-6 col-md-6 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6> -->
      <ion-title><b>CRYPTOWIZ</b></ion-title>
    <!-- </ion-col>
    <ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        
      </ion-col>
    </ion-row> -->
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>
      <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

      </ion-col>
      <ion-col ion-col text-center no-padding col-8 col-sm-8 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  <button class="btn1-size" ion-button block default-button text-capitalize ><b>GROWTH CALCULATOR</b></button><br>

      </ion-col>
      <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

        </ion-col>
  <ion-col ion-col text-center no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      <!-- <ion-item class="abc" text-center> -->
      <ion-searchbar [(ngModel)]="name" (ngModelChange)="onSearch($event)" name="name" >
      </ion-searchbar>
      <ion-list *ngIf="growthCalculator" >
        <ion-item no-lines (click)="getGrowthCalculator(GC.symbol)" class="coins"  *ngFor="let GC of growthCalculator">
            <img [src]='"https://s2.coinmarketcap.com/static/img/coins/16x16/"+GC.logoid+".png"'> {{GC.name}}    
        </ion-item>
      </ion-list>
      <!-- </ion-item> -->
  </ion-col>
  </ion-row>
</ion-grid>

  <ion-card class="slide" *ngIf="showCard">
<ion-grid>
  <ion-row class="abc" *ngIf="growthCalculator1">
    <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-card-title class="card-title" text-center style="color:#006622"><b>{{growthCalculator1.rank}}</b></ion-card-title>
      <span class="span" style="color:#A3D28B">Rank</span>
    </ion-col>
    <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-card-title text-center style="color:#006622"><b>{{growthCalculator1.priceInUSD}}</b></ion-card-title>
      <span class="span" style="color:#A3D28B">Price in USD</span>
    </ion-col>
    <ion-col ion-col text-center no-padding col-5 col-sm-5 col-md-5 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-card-title text-center style="color:#006622"><b>{{growthCalculator1.marketCap}}</b></ion-card-title>
      <span class="span" style="color:#A3D28B">Market Cap</span>
    </ion-col>
  </ion-row>
  <hr>
  <ion-row>
    <ion-col ion-col text-center no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-card-content style=" font-size: 18px; color:#7ABD58">
            Enter your growth expectation for this coin. If you think the <b>price</b> will double enter 2 below.
          </ion-card-content>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-card><br>

<ion-grid *ngIf="showbutton">
  <ion-row>
      <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <button>
          <ion-icon name="arrow-dropleft-circle" style=" font-size:50px"></ion-icon>
          </button>
      </ion-col>
    <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        <ion-input class="input" text-center required type="number" min="2" style="margin-top:10px" [(ngModel)]="input"></ion-input>
    </ion-col>
    <ion-col ion-col text-center no-padding col-4 col-sm-4 col-md-4 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
      <button (click)="ClickToResultPage()">
        <ion-icon name="arrow-dropright-circle" style="font-size:50px"></ion-icon>
        </button>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-fab right bottom>
    <button ion-fab color="light" style="background-color:#C0C0C0"><ion-icon name="add"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab (click)="ClickToHomePage()" style="background-color:#A9A9A9; color: white"><ion-icon name="menu"></ion-icon></button>
      <button ion-fab (click)="clickToAccountPage()" style="background-color:#A9A9A9; color: white"><ion-icon name="bulb"></ion-icon></button>
      
    </ion-fab-list>
  </ion-fab>

</ion-content>
