page-growth-calculator {

// .btn1-size{
//     width:250px;
//     text-align: center;
//     margin-left: 35px;
    
// }

ion-content{
    background:#DDDDDD !important;
}


.searchbar-ios{
    border:0px solid grey;
    border-radius: 20px;
    
}
.abc{
   border-bottom:  1px dashed #5daf33 !important;
    
}
.input{
    background-color: white;
    border-radius: 20px;
    

}
.btn1-size{
    font-size: 13px !important;
}
.span{
    font-size: 10px;
}
}
