page-simulator-result {
    ion-content{
        background:#DDDDDD !important;
    }
    
    
    .searchbar-ios{
        border:0px solid grey;
        border-radius: 20px;
        
    }
    .abc{
       border-radius: 5px;
        
    }
    .input{
        background-color: white;
        border-radius: 20px;
        
    
    }
    .label{
        color:white;
    }
    .span{
        font-size: 13px !important;
    }
    .ion-item{
        border-radius: 12px;
    }
    .buttonscontainer{
        background-color: black;
        border-radius: 20px;
    }
    .custombutton1{
        background-color: white;
        border-radius: 18px;
        height: 40px;
        width: 100px;
        margin: 4px 2px;
        color:black;
    }
    .custombutton2{
        background-color: black;
        border-radius: 18px;
        height: 40px;
        width: 100px;
        margin: 4px 2px;
        color:white;
    }
    .label{
        color:white;
    }
    .label1{
        color: black;
        font-size: 13px;
    }
    .xyz{
        margin:5px;
    }
    .ab{
        font-size: 17px !important;
        font-weight: bold;
    }
    .ab2{
        font-size: 30px !important; 
        font-weight: bold !important;
        margin: 7px !important;
    }
}
