page-market-prices {
    ion-content{
        background:#DDDDDD !important;
    }
    
    
    
    .abc{
       border-radius: 5px;
        
    }
    .label{
        color:white;
        font-weight: bold;
        font-size: 10px;
    }
    .label1{
        color: rgb(27, 26, 26);
        
        font-weight: 500;
    }
    .lab{
        color:black;
        font-size: 12px;
    }
    .ion-item{
        border-radius: 8px !important;
        margin-top: 3px !important;
    }
    .btn1-size{
        background-image: linear-gradient(to right, #BC2E65 0%, #843881 51% 100%);
        height: 40px;
        border-radius: 20px;
        color: white;
        padding-top: 12px;
    }
    .table-header{
        background-image: linear-gradient(to right, #BF2C62 0%, #9C3274 51%, #7A3985 100%);
    }
    
}
