page-market-prices {
    ion-content{
        background:#DDDDDD !important;
    }
    
    
    .searchbar-ios{
        border:0px solid grey;
        border-radius: 20px;
        
    }
    .abc{
       border-radius: 5px;
        
    }
    .label{
        color:white;
        font-weight: bold;
    }
    .label1{
        color: black;
    }
    .lab{
        color:black;
        font-size: 12px;
    }
    .ion-item{
        border-radius: 10px !important;
        margin-top: 2px !important;
    }
    
}
