<ion-header>

  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>CRYPTOWIZ</ion-title>
  </ion-navbar>
  
  </ion-header>

  
<ion-content padding>

    <ion-grid *ngIf="marketPricesHead">
        <ion-row *ngFor="let mkh of marketPricesHead">
            <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

              </ion-col>
              <ion-col ion-col text-center no-padding col-8 col-sm-8 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <button class="btn1-size" ion-button block default-button text-capitalize><b>MARKET PRICES</b></button><br>
        
              </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        
                </ion-col>
      <ion-col ion-col text-center no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <!-- <ion-item class="abc" text-center> -->
              <div class="lab">Global Market Cap <b>{{mkh.gmc}}</b></div>
              <div class="lab">BTC Dominance <b>{{mkh.btc}}</b></div><br>
          <!-- </ion-item> -->
      </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid >

      <ion-list no-lines *ngIf="marketPrices">

          <ion-item class="table-header" >
         <ion-row>
           <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
       
                  <div class="label">Rank</div>
          
           </ion-col>
           <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
           
              <div class="label">Name</div>
      
            </ion-col>
           <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                
               <div class="label">Market Cap</div>
            </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
             <div class="label">Price</div>
              </ion-col>
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
                   <div class="label">24h</div>
                </ion-col>
         </ion-row>
        </ion-item>

        <ion-item class="ion-item" style="font-size: 11px !important"  *ngFor="let mk of marketPrices"> 
            <ion-row>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          
                     <div class="label1">{{mk.rank}}</div>
             
              </ion-col>
              <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
               <ion-icon><img [src]='"https://s2.coinmarketcap.com/static/img/coins/16x16/"+mk.logoid+".png"'></ion-icon>
              </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
                 <div class="label1">{{mk.name}}</div>
         
               </ion-col>
              <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                   
                  <div class="label1">{{mk.market_cap_usd}}</div>
               </ion-col>
                 <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                 
                <div class="label1">{{mk.price_usd}}</div>
                 </ion-col>
                   <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                 
                      <div class="label1">{{mk.percent_change_24h}}</div>
                   </ion-col>
            </ion-row>
           </ion-item>

        </ion-list><br>
       
      </ion-grid>

      <ion-fab right bottom>
        <button ion-fab color="light" style="background-color:#C0C0C0"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="ClickToHomePage()" style="background-color:#A9A9A9; color: white"><ion-icon name="keypad-outline"></ion-icon></button>
          <button ion-fab (click)="clickToAccountPage()" style="background-color:#A9A9A9; color: white"><ion-icon name="bulb-outline"></ion-icon></button>
          
        </ion-fab-list>
      </ion-fab>

</ion-content>
