page-coin-comparison {
    ion-content{
        background:#DDDDDD !important;
    }
    
    .abc{
       border-radius: 5px;
        
    }
    .label{
        color:rgb(10, 0, 0);
        font-weight: bold;
    }
    .label1{
        color: black !important;
        height: 15px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 20px;
        letter-spacing: -1px;
        
    }
    
    .label2{
        color: white !important;
    }
    ion-item{
        border-radius: 1px !important;
        margin-top: 3px !important;
    }
    .btn1-size{
        background-image: linear-gradient(to right, #FD5C2C 0%, #F3891E 61% 100%);
    }
    .table-header{
        background-image: linear-gradient(to right, #FD552D 0%, #F77224 51%, #EF931A 100%);
    }
}
