<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CRYPTOWIZ</ion-title>
  </ion-navbar>
  
  </ion-header>

  
<ion-content>

    <ion-grid >
        <ion-row >
            <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

              </ion-col>
              <ion-col ion-col text-center no-padding col-8 col-sm-8 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <button class="btn1-size" ion-button block default-button text-capitalize style="background:#FA6728" ><b>COIN COMPARISON</b></button><br>
        
              </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        
                </ion-col>
      <ion-col ion-col text-center no-padding col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <!-- <ion-item class="abc" text-center> -->
          <ion-searchbar [(ngModel)]="name" (ngModelChange)="onSearch($event)" name="name"></ion-searchbar><br>
          <ion-list *ngIf="coinComparsionName">
            <ion-item class="label" *ngFor="let CCN of coinComparsionName">
              {{CCN.name}}    
            </ion-item>
          </ion-list>
          <!-- </ion-item> -->
      </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="width:100%">

      <ion-list style=" width:100%" *ngIf="coinComparison">

          <ion-item  style="background-color: #FD592C; font-size: 13px !important">
         <ion-row>
           <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
       
                  <div class="label2">Current price</div>
          
           </ion-col>
           <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
           
              <div class="label2">High</div>
      
            </ion-col>
           <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                
               <div class="label2">Factor</div>
            </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
             <div class="label2">Low</div>
              </ion-col>
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
                   <div class="label2">Factor</div>
                </ion-col>
         </ion-row>
        </ion-item>

        <ion-item style="font-size: 11px !important" *ngFor="let CC of coinComparison">
            <ion-row>
              <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          
                     <div class="label1">{{CC.price}}</div>
             
              </ion-col>
              <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
                 <div class="label1">{{CC.highestPrice}}</div>
         
               </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                   
                  <div class="label1" style="background-color:#FFB9B9">{{CC.highFactor}} x</div>
               </ion-col>
                 <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                 
                <div class="label1">{{CC.lowestPrice}}</div>
                 </ion-col>
                   <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                 
                      <div class="label1" style="background-color:#ADE2A2">{{CC.lowFactor}} x</div>
                   </ion-col>
            </ion-row>
           </ion-item>

           <ion-item style="font-size: 11px !important">
              <ion-row>
                <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            
                       <div class="label1">$54.23</div>
               
                </ion-col>
                <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                
                   <div class="label1">$85.22     </div>
           
                 </ion-col>
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                     
                    <div class="label1" style="background-color:#ADE2A2">1.57 x</div>
                 </ion-col>
                   <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                   
                  <div class="label1">$47.67</div>
                   </ion-col>
                     <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                   
                        <div class="label1" style="background-color:#FFB9B9">0.88 x</div>
                     </ion-col>
              </ion-row>
             </ion-item>
        </ion-list><br>
        <ion-row>
          <ion-col  ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

          </ion-col>
          <ion-col  ion-col text-center no-padding col-8 col-sm-8 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              <ion-item>
                  <ion-label style="font-size:14px !important">Last 90 days</ion-label>
                  <ion-select multiple="true">
                    <ion-option>Last 60 days</ion-option>
                    <ion-option>Last 30 days</ion-option>
                    <ion-option>Last 10 days</ion-option>
                    <ion-option>Last 5 days</ion-option>
                    <ion-option>Last 2 days</ion-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col  ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

              </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab right bottom>
        <button ion-fab color="light" style="background-color:#C0C0C0"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="ClickToHomePage()" style="background-color:#A9A9A9"><ion-icon name="keypad-outline"></ion-icon></button>
          <button ion-fab (click)="clickToAccountPage()" style="background-color:#A9A9A9"><ion-icon name="bulb-outline"></ion-icon></button>
          
        </ion-fab-list>
      </ion-fab>

</ion-content>
