page-coin-comparison {
    ion-content{
        background:#DDDDDD !important;
    }
    
    .abc{
       border-radius: 5px;
        
    }
    .label{
        color:rgb(10, 0, 0);
        font-weight: 500;
        
    }
    .label1{
        color: black !important;
        height: 15px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 20px;
        letter-spacing: -1px;
        
    }
    
    .label2{
        color: white !important;
    }
    ion-item{
        border-radius: 1px !important;
        margin-top: 3px !important;
    }
    .btn1-size{
        background-image: linear-gradient(to right, #FD5C2C 0%, #F3891E 61% 100%);
        height: 40px;
        border-radius: 20px;
        color: white;
        padding-top: 12px;
    }
    .table-header{
        background-image: linear-gradient(to right, #FD552D 0%, #F77224 51%, #EF931A 100%);
    }
    ion-searchbar{
        ::placeholder{
            font-size: 14px;
            letter-spacing: -0.7px;
            font-weight: bold;
        }
    }
    .select-text{
        text-overflow: initial !important;
    }
    .myCustomSelect{
        max-width: 100% !important;
       }
}
