<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>CRYPTOWIZ</ion-title>
  </ion-navbar>
  
  </ion-header>

  
<ion-content padding>

    <ion-grid >
        <ion-row >
            <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

              </ion-col>
              <ion-col ion-col text-center no-padding col-8 col-sm-8 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          <button class="btn1-size" ion-button block default-button text-capitalize><b>COIN COMPARISON</b></button><br>
        
              </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
        
                </ion-col>
              
      <ion-col ion-col text-center no-padding col-12 col-sm-12 col-md-12 >
          <!-- <ion-item class="abc" text-center> -->
          <ion-searchbar [(ngModel)]="name" (ngModelChange)="onSearch($event)" name="name"></ion-searchbar><br>
          <ion-list *ngIf="coinComparsionName">
            <ion-item no-lines class="label" *ngFor="let CCN of coinComparsionName" (click)="getCoin(CCN.symbol)">
                <img [src]='"https://s2.coinmarketcap.com/static/img/coins/16x16/"+CCN.logoid+".png"'> {{CCN.name}}    
            </ion-item>
          </ion-list>
          <!-- </ion-item> -->
      </ion-col>
      </ion-row>
    </ion-grid>

    <ion-grid style="width:100%">

      <ion-list no-lines style=" width:100%">

          <ion-item class="table-header">
         <ion-row>
           <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
       
                  <div class="label2">Current price</div>
          
           </ion-col>
           <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
           
              <div class="label2">High</div>
      
            </ion-col>
           <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                
               <div class="label2">Factor</div>
            </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
             <div class="label2">Low</div>
              </ion-col>
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
                   <div class="label2">Factor</div>
                </ion-col>
         </ion-row>
        </ion-item>

        <!-- <ion-item style="font-size: 11px !important" *ngFor="let CC of coinComparison">
            <ion-row>
              <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
          
                     <div class="label1">{{CC.price}}</div>
             
              </ion-col>
              <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              
                 <div class="label1">{{CC.highestPrice}}</div>
         
               </ion-col>
              <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                   
                  <div class="label1" style="background-color:#FFB9B9">{{CC.highFactor}} x</div>
               </ion-col>
                 <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                 
                <div class="label1">{{CC.lowestPrice}}</div>
                 </ion-col>
                   <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                 
                      <div class="label1" style="background-color:#ADE2A2">{{CC.lowFactor}} x</div>
                   </ion-col>
            </ion-row>
           </ion-item> -->

           <ion-item style="font-size: 11px !important" *ngFor="let item of coinComparisonAddCoin" >
              <ion-row  >
                  <ion-col ion-col text-center no-padding col-1 col-sm-1 col-md-1 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                      <img [src]='"https://s2.coinmarketcap.com/static/img/coins/16x16/"+item.logoid+".png"'>
                    </ion-col>
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
            
                       <div class="label1">{{item.price}}</div>
               
                </ion-col>
                <ion-col ion-col text-center no-padding col-3 col-sm-3 col-md-3 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                
                   <div class="label1">{{item.highestPrice}}</div>
           
                 </ion-col>
                <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                     
                    <div class="label1" style="background-color:#ADE2A2">{{item.highFactor}} x</div>
                 </ion-col>
                   <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                   
                  <div class="label1">{{item.lowestPrice}}</div>
                   </ion-col>
                     <ion-col ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
                   
                        <div class="label1" style="background-color:#FFB9B9">{{item.lowFactor}} x</div>
                     </ion-col>
              </ion-row>
             </ion-item>
        </ion-list><br>
        <ion-row>
          <ion-col  ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

          </ion-col>
          <ion-col  ion-col text-center no-padding col-8 col-sm-8 col-md-8 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
              <ion-item no-lines>
                  <!-- <ion-label style="font-size:14px !important">{{input}}</ion-label> -->
                  <ion-select multiple="false" [(ngModel)]="input" (ngModelChange)="onChange($event)" >
                    <ion-option value="90">Last 90 days</ion-option>   
                    <ion-option value="60">Last 60 days</ion-option>
                    <ion-option value="30">Last 30 days</ion-option>
                    <ion-option value="15">Last 15 days</ion-option>
                    <ion-option value="7">Last 7 days</ion-option>
                    <ion-option value="2">Last 2 days</ion-option>
                  </ion-select>
                </ion-item>
            </ion-col>
            <ion-col  ion-col text-center no-padding col-2 col-sm-2 col-md-2 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>

              </ion-col>
        </ion-row>
      </ion-grid>

      <ion-fab right bottom>
        <button ion-fab color="light" style="background-color:#C0C0C0"><ion-icon name="add"></ion-icon></button>
        <ion-fab-list side="top">
          <button ion-fab (click)="ClickToHomePage()" style="background-color:#A9A9A9; color: white"><ion-icon name="keypad-outline"></ion-icon></button>
          <button ion-fab (click)="clickToAccountPage()" style="background-color:#A9A9A9; color: white"><ion-icon name="bulb-outline"></ion-icon></button>
          
        </ion-fab-list>
      </ion-fab>

</ion-content>
