page-coin-comparison {
    ion-content{
        background:#DDDDDD !important;
    }
    
    
    .searchbar-ios{
        border:0px solid grey;
        border-radius: 20px;
        
    }
    .abc{
       border-radius: 5px;
        
    }
    .label{
        color:rgb(10, 0, 0);
        font-weight: bold;
    }
    .label1{
        color: black !important;
        height: 25px;
        border-radius: 5px;
        
    }
    .btn1-size{
        font-size: 13px !important;
    }
    .label2{
        color: white !important;
    }
}
