page-account {
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
     color: white;
     background-color: transparent;
     left:80% !important;
}
.segment-btn{
    font-size: 11px !important;
    color: black !important;
}

}
