page-growth-calculator-result {

    ion-content{
        background:#DDDDDD !important;
    }
    ion-header{
        height: 50px;
        padding-top: 10px; 
    }
    
    .label{
        color:white;
    }
    .label1{
        color: black;
        font-size: 13px;
    }
    
    .symbol{
        height: 50px !important;
        background-color: white;
        border-radius: 10px;
        position: relative;
        padding-top: 5px;
    }
   #iconCross{
       position: relative;
       right: 0;
       left: 30%;
       font-size: 25px;
       top:5px;
   }
   .ion-item{
    border-radius: 1px !important;
    margin-top: 2px !important;
}
.btn1-size{
    background-image: linear-gradient(to right, #5FB236 0%, #8ACD50 61% 100%);
}
.table-header{
    background-image: linear-gradient(to right, #5FB236 0%, #7BC346 51%, #9DD95C 100%);
}
}
