page-growth-calculator-result {

    ion-content{
        background:#DDDDDD !important;
    }
    
    
    .searchbar-ios{
        border:0px solid grey;
        border-radius: 20px;
        
    }
    .label{
        color:white;
    }
    .label1{
        color: black;
        font-size: 13px;
    }

}
