page-faq {
    // .text-wrap {
    //     overflow-wrap: break-word;
    //     word-wrap: break-word;
    // }
    .bar-button-default-ios,
    .bar-button-default.bar-button-ios-default,
    .bar-button-clear-ios-default {
     color: white;
     background-color: transparent;
     left:80% !important;
}
}
